<h1 mat-dialog-title>Nouveau dossier</h1>
@if (is_loading == true) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div mat-dialog-content>
    <div class="row mt-2">
        <div class="col-md-12 col-lg-12">
            <mat-form-field appearance="outline">
                <mat-label>Libellé du dossier <code class="fs-4">*</code></mat-label>
                <input [(ngModel)]="libelle_dossiers" matInput placeholder="Libellé du dossier">
            </mat-form-field>
        </div>

    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-fab extended color="primary" mat-dialog-close>
        <mat-icon>reply</mat-icon>
        Annuler
    </button>
    @if (is_update == true) {
        <button mat-fab extended color="warn" (click)="updateDossiers()">
            <mat-icon>update</mat-icon>
            Modifier
        </button>
    }@else {
        <button  mat-fab extended color="warn" (click)="saveDossiers()">
            <mat-icon>save</mat-icon>
            Enregistrer
        </button>
    }

</div>



