<div mat-dialog-content>
    <div class="row mt-2 justify-content-center">
        <div class="col-md-12 text-center">
            <img src="assets/media/success_emoji.png" width="150" alt="" srcset="">
            <hr>
            <p class="text-primary fw-bolder fs-5">
                {{ message }}
            </p>
        </div>

    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button color="warn" (click)="cancel()">
        <mat-icon class="mat-18 me-2 f-18">reply</mat-icon>
        Fermer
    </button>
    <button mat-raised-button color="primary" (click)="confirm()">
        <mat-icon class="mat-18 me-2 f-18">done_all</mat-icon>
        Ok
    </button>
</div>
