
<div class="hero-header mb-3">
    <div class="container-fluid">
        <!-- Row start -->
        <div class="row justify-content-center mt-5 mr-5">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">

                <div class="text-center">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between mb-2">
                            <div class="card-title text-yellow">
                                <button mat-button class="text-red fw-bolder fs-5">
                                    <mat-icon >settings</mat-icon>
                                    Horaires de travail
                                </button>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="row mb-3 justify-content-center">
                                <div class="col-2">
                                    <p class="mb-3 fs-5 text-center fw-bolder">
                                        Heure d'entrée normale:
                                        <span class="fs-4 text-danger">{{ heure_entre }}</span>
                                    </p>
                                </div>
                                <div class="col-2">
                                    <p class="mb-3 fs-5 text-center fw-bolder">
                                        Heure d'entrée tolérable:
                                        <span class="fs-4 text-danger">{{ heure_tolerable }}</span>
                                    </p>
                                </div>
                                <div class="col-2">
                                    <p class="mb-3 fs-5  fw-bolder">
                                        Heure de descente:
                                        <span class="fs-4 text-danger">{{ heure_out }}</span>
                                    </p>
                                </div>

                                <div class="col-2">
                                    <p class="mb-3 fs-5  fw-bolder">
                                        Heure pause déjeuner:
                                        <span class="fs-4 text-danger">{{ break_time }}</span>
                                    </p>
                                </div>

                                <div class="col-2">
                                    <p class="mb-3 fs-5  fw-bolder">
                                        Heure totale de travail:
                                        <span class="fs-4 text-danger">{{ total_hour_of_work }}</span>
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Row end -->
    </div>
</div>


<div class="hero-body">
    <div class="container-fluid">
        <!-- Row start -->
        <div class="row mt-5 mr-5">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">

                <div class="card">
                    <div class="card-header d-flex justify-content-between mb-2">
                        <div class="card-title text-yellow">
                            <button mat-button class="text-red fw-bolder fs-5">
                                <mat-icon >calendar_month</mat-icon>
                                Aujourd'hui
                            </button>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-light alert-dismissible fade show fw-bolder" role="alert">
                                    <mat-icon  class="alert-icon me-3">notifications</mat-icon> À votre attention ! Si l'employé est absent, prière de laisser les heures vides.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-3">
                                <mat-form-field appearance="outline">
                                    <mat-label class="fw-bolder">Choisissez un employé</mat-label>
                                    <mat-select  (selectionChange)="onChangeEmployes($event)">
                                        @for (items_employe of list_employe; track $index) {
                                            <mat-option  [value]="items_employe.matricule">
                                                {{ items_employe.first_name + " "+ items_employe.last_name + " "+ "("+ items_employe.matricule +")" }}
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-2">
                                <mat-form-field appearance="outline">
                                    <mat-label class="fw-bolder">Aujourd'hui</mat-label>
                                    <input [(ngModel)]="date_start" matInput
                                        [matDatepicker]="Date_start"
                                        placeholder="00/00/0000"
                                    >
                                    <mat-datepicker-toggle matIconSuffix [for]="Date_start"></mat-datepicker-toggle>
                                    <mat-datepicker #Date_start></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-2">
                                <mat-form-field appearance="outline">

                                    <mat-label class="fw-bolder">Heure d'arrivée</mat-label>
                                    <input [ngxMatTimepicker]="pickerStart"
                                        [(ngModel)]="hour_start"
                                        matInput
                                        placeholder="00:00"
                                        [format]="24"
                                    >
                                    <ngx-mat-timepicker #pickerStart></ngx-mat-timepicker>
                                    <mat-icon matSuffix (click)="pickerStart.open()">
                                        watch_later
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-2">
                                <mat-form-field appearance="outline">

                                    <mat-label class="fw-bolder">Heure descente</mat-label>
                                    <input [ngxMatTimepicker]="pickerEndTime"
                                        [(ngModel)]="hour_end"
                                        matInput
                                        placeholder="00:00"
                                        [format]="24"
                                        (ngModelChange)="checkEndTime($event)"
                                    >
                                    <ngx-mat-timepicker #pickerEndTime></ngx-mat-timepicker>
                                    <mat-icon matSuffix (click)="pickerEndTime.open()">
                                        watch_later
                                    </mat-icon>
                                </mat-form-field>
                            </div>

                            @if (check_total_hour_or_overtime == true) {
                                <div class="col-lg-1">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Heure total </mat-label>
                                        <input type="time" readonly [(ngModel)]="total_hour" matInput placeholder="Heure total">
                                    </mat-form-field>
                                </div>
                            }

                            @if (check_total_hour_or_overtime == true) {
                                <div class="col-lg-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Heure supplémentaire </mat-label>
                                        <input type="time" readonly [(ngModel)]="overtime" matInput placeholder="Heure supplémentaire">
                                    </mat-form-field>
                                </div>
                            }

                        </div>

                        @if (check_total_hour_or_overtime == true) {
                            <div class="row justify-content-center mb-4">
                                <div class="col-lg-2">
                                    <button (click)="saveAttendance()" mat-raised-button color="primary" class="fw-bolder">
                                        <mat-icon >save</mat-icon>
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                        }



                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-striped mt-3">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#Id</th>
                                                <th class="text-center">Employé</th>
                                                <th class="text-center">Date du jour</th>
                                                <th class="text-center">Heure d'arrivée</th>
                                                <th class="text-center">Pause déjeuner</th>
                                                <th class="text-center">Heure de descente</th>
                                                <th class="text-center">Heure totale</th>
                                                <th class="text-center">Supplementaire</th>
                                                <th class="text-center">Statut</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (item of list_current_pointage; track $index) {
                                                <tr>
                                                    <td class="text-center">{{ $index + 1 }}</td>

                                                    <td class="text-center">
                                                        <div class="d-flex align-items-center">

                                                            <img [src]="item.photo" class="img-2x rounded-5 me-3" alt="Employe photo">

                                                            <div>

                                                                <p class="m-0 fw-600 text-primary fw-bolder">
                                                                    {{ item.first_name + " " + item.last_name }}
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="text-center">
                                                        <p class="m-b-0 fw-bolder">{{ item.date_started | transformDate: " d MMMM YYYY " }} </p>
                                                    </td>


                                                    <td class="text-center">
                                                        <p class="m-b-0 fw-bolder">{{ item.start_time  }} </p>
                                                    </td>
                                                    <td class="text-center">
                                                        <p class="m-b-0 fw-bolder">{{ item.break_time  }} </p>
                                                    </td>

                                                    <td class="text-center">
                                                        <p class="m-b-0 fw-bolder">{{ item.end_time  }} </p>
                                                    </td>
                                                    <td class="text-center">
                                                        <p class="m-b-0 text-red fw-bolder">{{ item.total_hour_of_work  }} </p>
                                                    </td>
                                                    <td class="text-center">
                                                        <p class="m-b-0 fw-bolder">{{ item.overtime  }} </p>
                                                    </td>
                                                    <td class="text-center">
                                                        @if (item.start_time == '00:00:00' && item.end_time == '00:00:00') {
                                                            <span  class=" badge rounded-pill shade-light-red  fw-bolder fs-6">
                                                                Absent
                                                            </span>
                                                        }
                                                        @if (item.start_time != '00:00:00' && item.end_time != '00:00:00') {
                                                            <span class=" badge rounded-pill shade-light-green  fw-bolder fs-6">
                                                                Présent
                                                            </span>
                                                        }
                                                    </td>

                                                </tr>
                                            }
                                            @if (list_current_pointage.length == 0) {
                                                <tr>
                                                    <td colspan="9" class="text-center">

                                                        <h1 class="text-center">Aucune présence pour le moment</h1>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Row end -->
    </div>
</div>


<ngx-spinner type="ball-circus" size="large" color="#ef8f01"
    [fullScreen]="true">
    <p style="color: #fff; font-size: 1.2rem"> Chargement en cours... </p>
</ngx-spinner>
