<mat-progress-bar *ngIf="is_loading == true" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>Modification de mot de passe </h2>
<mat-dialog-content>

    @if (is_user_account_founded == false) {

        <div  class="row ">
            <p class="text-primary">Entrer votre adresse email!</p>
            <div class="col-md-12 mb-3">
                <mat-form-field appearance="outline">
                    <mat-label>Adresse email </mat-label>
                    <input [(ngModel)]="email" type="email" matInput required
                        placeholder="exemple@exemple.com">
                        <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
            </div>
        </div>
    }
    @if (is_user_account_founded == true) {

        <div  class="row ">
            <div class="d-flex justify-content-between mb-3">
                <button (click)="backNow()" mat-button>
                    <mat-icon>reply</mat-icon>
                </button>

                <p class="text-primary">Proposer un nouveau mot de passe sécurisé </p>
            </div>
            <div class="col-md-12 mb-3">
                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input [(ngModel)]="password" matInput required [type]="hide ? 'password' : 'text'" placeholder="Br@2@24">
                    <button mat-icon-button matSuffix (click)="hide= !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' :'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    }

</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
    <button mat-button mat-dialog-close >fermer</button>
    @if (is_user_account_founded == false) {

        <button (click)="checkUserAccounts()"
            mat-fab extended color="warn">
            <mat-icon>rotate_left</mat-icon>
            Je vérifie mon compte
        </button>
    }@else {
        <button (click)="updateUserPassword()"
            mat-fab extended color="primary">
            <mat-icon>update</mat-icon>
            Modifier mon mot de passe
        </button>
    }

</mat-dialog-actions>
