
<div class="hero-header ">
    <div class="container-fluid">
        <!-- Row start -->
        <div class="row gx-3">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="d-flex justify-content-center">
                                <button (click)="switchAction('assigments')" class="me-2" mat-fab extended [color]="switcher_is_active == true ? 'warn':'primary'" >
                                    <mat-icon>assignment_add</mat-icon>
                                    Permission
                                </button>
                                <button (click)="switchAction('leave')"  mat-fab extended class="" [color]="switcher_is_active == false ? 'warn':'primary'">
                                    <mat-icon>assignment_add</mat-icon>
                                    Congé
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->
    </div>
</div>

<div class="hero-body">
    <!-- Row start -->

    <div class="row gx-3">
        <div class="col-xxl-12 col-sm-12 col-12">
            <div class="card">

                <div class="card-body">


                    @if (is_switching_assigment == true) {

                        <div  class="row gx-3 justify-content-center mb-3">
                            <div class="col-12">
                                <h1 class="text-primary fw-bolder">Formulaire de demande de permission</h1>
                            </div>

                            <div class="col-lg-12 mb-3">

                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Le motif de la permission</mat-label>
                                    <textarea rows="3" [(ngModel)]="motif" matInput placeholder="Ex. Le motif de la permission..."></textarea>
                                </mat-form-field>

                            </div>

                            <div class="col-lg-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Destinataire</mat-label>
                                    <mat-select  (selectionChange)="onChangeDestinataire($event)">
                                        @for (destinataire of list_responsable; track $index) {
                                            <mat-option class="fw-bolder"  [value]="destinataire.employee_matricule">
                                                {{
                                                    "Departement: " +
                                                    destinataire.service

                                                }}
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="row gx-3 mb-3">

                                <div class=" col-lg-12 col-md-12 text-center mb-2" >
                                    <h1 class="text-center mb-3">Durée de la permission</h1>
                                    <mat-radio-group (change)="PermissionDurationChange($event)" aria-label="Select an option">
                                        <mat-radio-button value="hour">En heure</mat-radio-button>
                                        <mat-radio-button value="date">En jours</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <div class="row justify-content-center">

                                    @if (duration_is_hour == true) {
                                        <div  class="col-lg-4 col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Date de la permission</mat-label>
                                                <input [(ngModel)]="date_permission" matInput [matDatepicker]="Date_permission" placeholder="00/00/0000">
                                                <mat-datepicker-toggle matIconSuffix [for]="Date_permission"></mat-datepicker-toggle>
                                                <mat-datepicker #Date_permission></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    }

                                    @if (duration_is_hour == true) {
                                        <div  class="col-lg-4">
                                            <mat-form-field appearance="outline">
                                                <span class="mx-2" matPrefix>
                                                    Début
                                                </span>
                                                <input [ngxMatTimepicker]="pickerStart"
                                                    [(ngModel)]="hour_start"
                                                    matInput
                                                    placeholder="00:00"
                                                    [format]="24"
                                                >
                                                <ngx-mat-timepicker #pickerStart></ngx-mat-timepicker>
                                                <mat-icon matSuffix (click)="pickerStart.open()">
                                                    watch_later
                                                </mat-icon>
                                            </mat-form-field>
                                        </div>
                                    }
                                    @if (duration_is_hour == true) {
                                        <div  class="col-lg-4">
                                            <mat-form-field appearance="outline">
                                                <span class="mx-2" matPrefix>
                                                    Fin
                                                </span>
                                                <input [ngxMatTimepicker]="pickerEnd"
                                                    [(ngModel)]="hour_end"
                                                    matInput
                                                    placeholder="00:00"
                                                    [format]="24"
                                                >
                                                <ngx-mat-timepicker #pickerEnd></ngx-mat-timepicker>
                                                <mat-icon matSuffix (click)="pickerEnd.open()">
                                                    watch_later
                                                </mat-icon>
                                            </mat-form-field>
                                        </div>
                                    }
                                    @if (duration_is_date == true) {
                                        <div  class="col-lg-4 col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Date début de la permission</mat-label>
                                                <input [(ngModel)]="date_start" matInput
                                                    [matDatepicker]="Date_start"
                                                    placeholder="00/00/0000"
                                                >
                                                <mat-datepicker-toggle matIconSuffix [for]="Date_start"></mat-datepicker-toggle>
                                                <mat-datepicker #Date_start></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    }
                                    @if (duration_is_date == true) {
                                        <div  class="col-lg-4 col-md-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Date fin de la permission</mat-label>
                                                <input [(ngModel)]="date_end" matInput [matDatepicker]="Date_end">
                                                <mat-datepicker-toggle matIconSuffix [for]="Date_end"></mat-datepicker-toggle>
                                                <mat-datepicker #Date_end></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    }
                                </div>


                                @if (duration_is_hour == true || duration_is_date == true ) {
                                    <div  class=" col-lg-12 col-md-12 text-center" >
                                        <h1 class="text-center mb-3">Joindre une pièce justificative</h1>
                                        <mat-radio-group (change)="radioChange($event)" aria-label="Select an option">
                                            <mat-radio-button value="OUI">OUI</mat-radio-button>
                                            <mat-radio-button value="NON">NON</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                }

                            </div>

                            @if (is_choose == 'OUI') {
                                <div class="row gx-3 mb-4" >
                                    <div class=" col-lg-12 col-md-12 text-center" >
                                        <label for="formFileLg" class="form-label">Joindre une pièce  <code>*</code>  </label>
                                        <input (change)="uploadFile($event)" class="form-control form-control-lg" id="formFileLg" type="file">
                                    </div>
                                </div>
                            }
                            @if (duration_is_hour == true || duration_is_date == true ) {
                                <div  class="row gx-3 mb-3 justify-content-center">
                                    <div class=" col-lg-8 col-md-12 text-center" >
                                        <button (click)="savePermission()"  mat-fab extended color="primary" >
                                            <mat-icon>save</mat-icon>
                                            Enregistrer
                                        </button>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                    
                    @if (is_switching_leave == true) {
                        <div class="row gx-3 justify-content-center mb-3">
                            <div class="col-12">
                                <h1 class="fw-bolder text-danger">Formulaire de demande de congé</h1>
                            </div>


                            <div class="col-lg-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Date de depart de congé</mat-label>
                                    <input [(ngModel)]="date_depart" matInput [matDatepicker]="Date_depart" placeholder="Ex: 00/00/0000">
                                    <mat-datepicker-toggle matIconSuffix [for]="Date_depart"></mat-datepicker-toggle>
                                    <mat-datepicker #Date_depart></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Date de retour de congé</mat-label>
                                    <input [(ngModel)]="date_retour" matInput [matDatepicker]="Date_retour" placeholder="Ex: 00/00/0000">
                                    <mat-datepicker-toggle matIconSuffix [for]="Date_retour"></mat-datepicker-toggle>
                                    <mat-datepicker #Date_retour></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="row gx-3 mb-3">

                                <div class="col-lg-6">
                                    <mat-form-field >
                                        <mat-label>Type de congé</mat-label>
                                        <mat-select  (selectionChange)="onChangeTypeConge($event)">
                                            @for (type_conge of list_type_conge; track $index) {
                                                <mat-option [value]="type_conge.type_conge">
                                                    {{ type_conge.type_conge }}
                                                </mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6">
                                    <mat-form-field >
                                        <mat-label>Destinataire</mat-label>
                                        <mat-select  (selectionChange)="onChangeDestinataire($event)">
                                            @for (destinataire of list_responsable; track $index) {
                                                <mat-option class="fw-bolder"  [value]="destinataire.employee_matricule">
                                                    {{
                                                        "Departement: " +
                                                        destinataire.service

                                                    }}
                                                </mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row gx-3 mb-3">

                                <div class="col-lg-12">
                                    <mat-form-field >
                                        <mat-label>Objet de la demande</mat-label>
                                        <input [(ngModel)]="objet_demande" matInput placeholder="Objet de la demande">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-3">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Le motif du congés</mat-label>
                                    <textarea rows="3" [(ngModel)]="motif" matInput placeholder="Ex. Le motif du congés..."></textarea>
                                </mat-form-field>
                            </div>

                            <div class="row gx-3 mb-3 justify-content-center">
                                <div class=" col-lg-8 col-md-12 text-center" >
                                    <button (click)="saveConge()" mat-fab extended color="primary" >
                                        <mat-icon>save</mat-icon>
                                        Enregistrer
                                    </button>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
    <!-- Row end -->
</div>


<ngx-spinner type="ball-circus" size="large" color="#ef8f01"
    [fullScreen]="true">
    <p style="color: #fff; font-size: 1.2rem"> Chargement en cours... </p>
</ngx-spinner>
