
@if (is_loading == true) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<h1 mat-dialog-title>
    {{ is_update == true ? 'Modification du courrier' :
    'Ajouter un nouveau courrier'}}
</h1>

<div mat-dialog-content>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Date d'arrivée du courrier</mat-label>
                <input [(ngModel)]="date_started" matInput
                    [matDatepicker]="Date_arrivee">
                <mat-datepicker-toggle matIconSuffix
                    [for]="Date_arrivee"></mat-datepicker-toggle>
                <mat-datepicker #Date_arrivee></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Provenance du courrier</mat-label>
                <input [(ngModel)]="provenance" matInput
                    placeholder="Provenance du courrier">
                <mat-icon matSuffix>info</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12">
            <mat-form-field appearance="outline">
                <mat-label>Objet du courrier</mat-label>
                <textarea [(ngModel)]="objet_courrier" matInput></textarea>
                <mat-icon matSuffix>info</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-md-12 col-sm-12 col-lg-12">
            <label for="formFileLg" class="form-label fs-3 mb-3">{{ is_update ==
                true ?
                'Chargez un nouveau document si vous comptez remplacer l\'ancien.'
                : 'Joindre un document'}}</label>
            <input (change)="uploadFile($event)"
                class="form-control form-control-lg" id="formFileLg"
                type="file">
        </div>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-fab extended color="primary" mat-dialog-close>
        <mat-icon>reply</mat-icon>
        Annuler
    </button>
    @if (is_update == true) {
    <button mat-fab extended color="warn"
        (click)="updateCourrier()"><mat-icon>update</mat-icon>Modifier</button>
    }
    @if (is_update == false) {
    <button mat-fab extended color="warn"
        (click)="saveCourrier()"><mat-icon>save</mat-icon>Enregistrer</button>
    }

</div>
