


<div class="hero-body">
    <div class="container-fluid">
        <!-- Row start -->
        <div class="row gx-3">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row gx-3">
                            <div class="col-xxl-12 col-sm-12 col-12">

                                <mat-tab-group>
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon me-3">view_list</mat-icon>
                                            <span class="fw-bolder fs-5">Liste des congés</span>
                                            <span>
                                                <button  mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">

                                                    {{ conge_counter }}
                                                </button>
                                            </span>
                                        </ng-template>

                                        <div class="table-responsive mt-4">
                                            <table class="table table-striped m-0">
                                                <thead>
                                                    <tr>
                                                        <th>#ID</th>
                                                        <th>Motif</th>
                                                        <th>Auteur</th>

                                                        <th>Fonction</th>
                                                        <th>Service</th>
                                                        <th>Etat</th>
                                                        <th>Statut</th>
                                                        <th>Date de publication</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (conge of list_conges | paginate: { itemsPerPage: 20, currentPage: p }; track $index) {
                                                        <tr>
                                                            <td>{{ $index + 1 }}</td>
                                                            <td  style="white-space: unset !important;">
                                                                {{ conge.motif   }}
                                                            </td>
                                                            <td >
                                                                <p >{{ conge.first_name + ' ' + conge.last_name }}</p>
                                                            </td>
                                                            <td><p >{{ conge.fonction }}</p></td>
                                                            <td><p >{{ conge.service }}</p></td>
                                                            <td>
                                                                <button [matTooltip]="conge.new_actions == 1?'Consulté':'Nouveau'"  mat-icon-button>
                                                                    <mat-icon [class]="conge.new_actions == 1?'text-primary':'text-warning'">check_circle</mat-icon>
                                                                </button>
                                                            </td>
                                                            <td class="text-center">
                                                                @if (conge.status_on == 1) {
                                                                    <button matTooltip="Approuvé" mat-icon-button>
                                                                        <mat-icon class="text-primary">verified</mat-icon>
                                                                    </button>
                                                                }
                                                                @if (conge.status_off == 1) {
                                                                    <button matTooltip="Réjeté"  mat-icon-button>
                                                                        <mat-icon class="text-red">verified</mat-icon>
                                                                    </button>
                                                                }
                                                                @if (conge.status_on == 0 && conge.status_off == 0) {
                                                                    <button matTooltip="Aucune action"  mat-icon-button>
                                                                        <mat-icon class="text-warning">unpublished</mat-icon>
                                                                    </button>
                                                                }

                                                            </td>
                                                            <td class="text-end">
                                                                <p>{{ conge.created_at | transformDate: 'd MMMM yyyy, à HH:mm' }}</p>

                                                            </td>

                                                            <td class="text-end">
                                                                <button mat-mini-fab color="primary"
                                                                    [matMenuTriggerFor]="beforeMenu">
                                                                    <mat-icon>more_vert</mat-icon>
                                                                </button>
                                                                <mat-menu #beforeMenu="matMenu"
                                                                    xPosition="before">
                                                                    <button (click)="consulteConge(conge)" mat-menu-item>
                                                                        <mat-icon>visibility</mat-icon>
                                                                        Consulter
                                                                    </button>
                                                                    <button (click)="openDeleDialog(conge.slug)" mat-menu-item>
                                                                        <mat-icon>delete</mat-icon>
                                                                        Supprimer
                                                                    </button>
                                                                </mat-menu>
                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="div text-center mt-4">
                                            <pagination-controls
                                                (pageChange)="p = $event"
                                                previousLabel="Précédent"
                                                nextLabel="Suivant"
                                            >

                                            </pagination-controls>
                                        </div>
                                    </mat-tab>

                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <mat-icon class="example-tab-icon me-3">format_list_bulleted</mat-icon>
                                            <span class="fw-bolder fs-5">Mes conges</span>
                                            <span>
                                                <button  mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">

                                                    {{ customer_conge_counter }}
                                                </button>
                                            </span>
                                        </ng-template>


                                        <div class="table-responsive mt-4">
                                            <table class="table table-striped m-0">
                                                <thead>
                                                    <tr>
                                                        <th>#ID</th>
                                                        <th>Motif</th>
                                                        <th>Auteur</th>

                                                        <th>Fonction</th>
                                                        <th>Service</th>
                                                        <th>Etat</th>
                                                        <th>Statut</th>
                                                        <th>Date de publication</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @for (customer_conge of list_customer_conges | paginate: { itemsPerPage: 20, currentPage: p }; track $index) {
                                                        <tr>
                                                            <td>{{ $index + 1 }}</td>
                                                            <td width="400" style="white-space: unset !important;">
                                                                {{ customer_conge.motif  }}
                                                            </td>
                                                            <td >
                                                                <p>{{ customer_conge.customer_name }}</p>

                                                            </td>
                                                            <td><p>{{ customer_conge.fonction }}</p></td>
                                                            <td><p>{{ customer_conge.service }}</p></td>
                                                            <td>
                                                                <button [matTooltip]="customer_conge.new_actions == 1?'Consulté':'Nouveau'"  mat-icon-button>
                                                                    <mat-icon [class]="customer_conge.new_actions == 1?'text-primary':'text-warning'">check_circle</mat-icon>
                                                                </button>

                                                            </td>
                                                            <td class="text-center">
                                                                @if (customer_conge.status_on == 1) {
                                                                    <button matTooltip="Approuvé" mat-icon-button>
                                                                        <mat-icon class="text-primary">verified</mat-icon>
                                                                    </button>
                                                                }
                                                                @if (customer_conge.status_off == 1) {
                                                                    <button matTooltip="Réjeté"  mat-icon-button>
                                                                        <mat-icon class="text-red">verified</mat-icon>
                                                                    </button>
                                                                }
                                                                @if (customer_conge.status_on == 0 && customer_conge.status_off == 0) {
                                                                    <button matTooltip="Aucune action"  mat-icon-button>
                                                                        <mat-icon class="text-warning">unpublished</mat-icon>
                                                                    </button>
                                                                }
                                                            </td>
                                                            <td class="text-end">
                                                                <p >{{ customer_conge.created_at | transformDate: 'd MMMM yyyy, à HH:mm' }}</p>

                                                            </td>

                                                            <td class="text-end">
                                                                <button mat-mini-fab color="primary"
                                                                    [matMenuTriggerFor]="beforeMenu">
                                                                    <mat-icon>more_vert</mat-icon>
                                                                </button>
                                                                <mat-menu #beforeMenu="matMenu"
                                                                    xPosition="before">
                                                                    <button (click)="consulteConge(customer_conge)" mat-menu-item>
                                                                        <mat-icon>visibility</mat-icon>
                                                                        Consulter
                                                                    </button>
                                                                    
                                                                </mat-menu>
                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="div text-center">
                                            <pagination-controls
                                                (pageChange)="p = $event"
                                                previousLabel="Précédent"
                                                nextLabel="Suivant"
                                            >

                                            </pagination-controls>
                                        </div>
                                    </mat-tab>


                                </mat-tab-group>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Row end -->
    </div>
</div>





<ngx-spinner type="ball-circus" size="large" color="#ef8f01"
    [fullScreen]="true">
    <p style="color: #fff; font-size: 1.2rem"> Chargement en cours... </p>
</ngx-spinner>
