



<h1 mat-dialog-title>
    Détail de la permission
    <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
</h1>
<div mat-dialog-content style="max-height: 95vh ">

    <div class="container-fluid">
        <div class="row gx-3">
            <div class="col-xxl-12">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="card">
                            @if (loading == true) {
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            }

                            <div class="card-header d-flex justify-content-between mb-3">
                                <span class="me-2">
                                    <mat-icon class="text-red">notifications</mat-icon>
                                </span>
                                <div class="card-title text-primary fs-5 fw-bolder">

                                    Réserver au directeur
                                </div>
                                <div class="text-end">

                                    <button (click)="printPermission()" class="" mat-fab  >
                                        <mat-icon>print</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body text-center position-relative pt-4">
                                <div class="card-title fs-3 mb-3 text-center">Décision de la permission</div>

                                <div class="row">

                                    @if (status_on == 1) {
                                        <div
                                            class="alert box-bdr-green alert-dismissible fade show text-green" role="alert">
                                            <mat-icon class="text-danger">notifications</mat-icon>
                                            Vous avez déjà donné votre approbation à cette permission.
                                        </div>
                                    }
                                    @if (status_off == 1) {
                                        <div
                                            class="alert box-bdr-red alert-dismissible fade show text-red" role="alert">
                                            <mat-icon class="text-red">notifications</mat-icon>
                                            Vous avez déjà donné votre approbation à cette permission.
                                        </div>
                                    }

                                    @if (status_on == 0 && status_off == 0) {
                                        <div class="col-md-12 col-lg-12 mb-4">
                                            <mat-radio-group (change)="PermissionDecisionChange($event)" aria-label="Select an option">
                                                <mat-radio-button value="approved">
                                                    <span class="fw-bolder fs-4">Approuver</span>
                                                </mat-radio-button>
                                                <mat-radio-button value="rejected">
                                                    <span class="fw-bolder fs-4">Rejeter</span>
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    }
                                    @if (show_comment_box == true) {
                                        <div class="col-md-12 col-lg-12 mb-4">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Laissez une note sur la décision...</mat-label>
                                                <textarea [(ngModel)]="decision_comments" matInput maxlength="160" placeholder="Ex. permission approuvée..."></textarea>
                                                <mat-hint align="start"><strong>Nombre de caractère limité à 160</strong> </mat-hint>
                                                <mat-hint align="end">{{decision_comments.length}} / 160</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    }
                                    @if (show_comment_box == true) {
                                        <div>
                                            <button (click)="saveDecision()" class="w-100" mat-raised-button color="primary">Enregistrer votre décision</button>
                                        </div>
                                    }
                                </div>




                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between gap-3">
                                    <span class="fw-bolder">Pièce justificatif</span>
                                    @if (justificatif != null) {
                                        <a [href]="justificatif" target="_blank" mat-flat-button>
                                            Ouvrir le fichier ici
                                            <mat-icon>visibility</mat-icon>
                                        </a>
                                    }
                                    @if (justificatif == null) {
                                        <span  class="fw-bolder text-danger">Aucune pièce jointe</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="card" id="permission_card">
                            <div class="card-header">
                                <div class="card-title">Réf permission - #{{ permission_ref }}</div>
                            </div>
                            <div class="card-body">
                                <!-- Row start -->
                                <div class="row align-items-center mb-4">
                                    <div class="col-xl-2 col-sm-3 col-12">
                                        <img src="assets/media/logoai.png" width="100" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-xl-10 col-sm-9 col-12">
                                        <p class="text-end m-0 fw-bolder">

                                            <span class="fw-bolder  fs-5">Alerte<br> Info </span>

                                        </p>
                                    </div>
                                </div>
                                <!-- Row end -->

                                <!-- Row start -->
                                <div class="row gx-3">

                                    <div class="col-sm-12 col-12">

                                        <div class="text-center mb-3">
                                            <h1 class="fw-bolder  text-uppercase">
                                                demande de permission
                                            </h1>
                                        </div>
                                        <div class="d-flex justify-content-end my-4">

                                            <div>
                                                <p class="m-0">
                                                    <span class="fw-bolder ">Date de la demande,</span><br>
                                                    @if (type_duration == 'hour') {
                                                        <span  class="fw-bolder text-red text-uppercase">{{ date_permission | date: 'dd MMMM yyyy' }}</span>
                                                    }

                                                    @if (type_duration == 'date') {
                                                        <span  class="fw-bolder text-red text-uppercase">{{ permission_start | date: 'dd MMMM yyyy' }}</span>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row gx-3 mb-2">

                                    <div class="col-sm-12 col-12 mb-3">
                                        <p class="m-0">
                                            <span class="fw-bolder">Durée de la permission,</span><br>
                                            @if (type_duration == 'hour') {
                                                <span class="fw-bolder">
                                                    <span class="fw-bolder text-red">
                                                        {{
                                                            duree_permission
                                                        }}
                                                    </span> <br>
                                                    de
                                                    {{
                                                        permission_start
                                                    }} à {{ permission_end }}
                                                </span>
                                            }
                                            @if (type_duration == 'date') {
                                                <span class="fw-bolder ">
                                                    <span class="fw-bolder text-red">
                                                        {{
                                                            duree_permission
                                                        }}
                                                    </span><br>
                                                    du
                                                    {{
                                                        permission_start | date: 'dd MMMM yyyy'
                                                    }} au {{ permission_end | date: 'dd MMMM yyyy' }}
                                                </span>
                                            }
                                        </p>
                                    </div>

                                </div>
                                <!-- Row end -->

                                <!-- Row start -->
                                <div class="row gx-3">
                                    <div class="col-12">
                                        <div class="table-responsive mb-3">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th><span class=" text-center text-uppercase">Nom & Prénom</span></th>
                                                        <th><span class=" text-center text-uppercase">Fonction</span></th>
                                                        <th><span class=" text-center text-uppercase">Service</span></th>
                                                        <th><span class=" text-center text-uppercase">Justificatif</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="text-center ">{{ customer_name }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-center ">{{ fonction }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-center">{{ service }}</span>
                                                        </td>
                                                        <td>
                                                            @if (justificatif == null) {
                                                                <span class="text-center text-red fw-bolder">Non justifié </span>
                                                            }
                                                            @if (justificatif != null) {
                                                                <span class="text-center text-red fw-bolder">Justifié </span>
                                                            }
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <p class=" text-uppercase mb-4">Motif de la permission: </p>
                                        <p class="mb-4" >{{ motif }}</p> <br>

                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="m-0 text-start mb-4">
                                                    <span class="fw-bolder text-start">Approbation</span><br>
                                                    @if (status_on == 1) {
                                                        <button  mat-fab extended color="primary">
                                                            <mat-icon>done_outline</mat-icon>
                                                            Permission approuvée
                                                        </button>
                                                    }
                                                    @if (status_off == 1) {
                                                        <button  mat-fab extended color="warn">
                                                            <mat-icon>done_outline</mat-icon>
                                                            Permission réjetée
                                                        </button>
                                                    }
                                                    @if (status_on == 0 && status_off == 0) {
                                                        <button mat-fab extended color="warn">
                                                            <mat-icon>no_accounts</mat-icon>
                                                            Accune action
                                                        </button>
                                                    }

                                                </p>

                                                @if (status_on == 1 || status_off == 1) {
                                                    <div class="alert alert-light alert-dismissible fade show" role="alert">
                                                        <mat-icon class="text-danger alert-icon">notifications</mat-icon>
                                                        {{ comments }}
                                                    </div>
                                                }

                                            </div>
                                            <div>
                                                <p class="m-0 text-end">
                                                    <span class="fw-bolder ">Faire à Abidjan le,</span><br>
                                                    <span class="fw-bolder text-red text-uppercase">{{ created_at | date: 'dd MMMM yyyy, à HH:mm' }}</span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
