/* You can add global styles to this file, and also import other style files */

@import url(assets/css/pages/cards-gamifications.css);


@import url(assets/css/pages/page-auth.css);
@import url(assets/css/pages/page-icons.css);
@import url(assets/css/pages/page-profile.css);
@import url(assets/css/pages/page-user-view.css);
@import url(assets/css/pages/page-account-settings.css);
@import url(assets/css/rtl/core.css);
@import url(assets/css/rtl/theme-default.css);
@import url(assets/css/pages/page-misc.css);
@import url(assets/css/demo.css);
@import '../node_modules/font-awesome/css/font-awesome.css';


@import url(assets/css/bootstrap.min.css);


@import url(assets/css/main.min.css);



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    padding: 10px !important;
}

.success-snackbar {
    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
        border-radius: 8px !important;
    }

    .mat-mdc-button.mat-mdc-snack-bar-action {
        color: #ef8f01 !important;
    }

}
.taille-texte{
   overflow: hidden !important; 
   text-overflow: ellipsis !important;
   white-space: nowrap !important;
   width: 200px !important;
}

.info-snackbar {

    background: blue !important;
    color: #fff;
}

.error-snackbar {
    .mat-mdc-snack-bar-container .mdc-snackbar__surface {
        border-radius: 8px !important;
        padding: 10px;
    }

    .mat-mdc-button.mat-mdc-snack-bar-action {
        color: #ef8f01 !important;
    }

}

.warning-snackbar {
    background: #ef8f01 !important;
    color: #fff;
}


.fullscreen-dialog {
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100%;
    height: 100%;
    padding: 20px !important;
}

.table tbody tr td {
    border: none;
    padding: 10px 21px;
    vertical-align: middle;
    letter-spacing: normal;
    white-space: nowrap;
    font-weight: 400;
}

.col-md-6 mat-form-field {
    width: 100%;
}

.col-md-12 mat-form-field {
    width: 100%;
}

.col-md-4 mat-form-field {
    width: 100%;
}

.col-md-7 mat-form-field {
    width: 100%;
}

.col-md-5 mat-form-field {
    width: 100%;
}

.col-lg-4 mat-form-field {
    width: 100%;
}

.col-md-3 mat-form-field {
    width: 100%;
}

.col-sm-12 mat-form-field {
    width: 100%;
}

.col-sm-6 mat-form-field {
    width: 100%;
}

.col-sm-4 mat-form-field {
    width: 100%;
}

.col-sm-3 mat-form-field {
    width: 100%;
}

.col-sm-9 mat-form-field {
    width: 100%;
}

.col-lg-12 mat-form-field {
    width: 100%;
}

.col-lg-9 mat-form-field {
    width: 100%;
}

.col-lg-10 mat-form-field {
    width: 100%;
}

.col-lg-6 mat-form-field {
    width: 100%;
}

.col-lg-5 mat-form-field {
    width: 100%;
}

.col-lg-7 mat-form-field {
    width: 100%;
}

.col-lg-3 mat-form-field {
    width: 100%;
}

.col-lg-2 mat-form-field {
    width: 100%;
}
.register_link .active{

    background: #233266 !important;
    background-size: cover;
    color: #fff !important;
}
.table thead th {
    border-bottom: 1px solid #e2e5e8;
    font-size: 15px;
    font-weight: bolder;
    color: #233266;

    /*text-transform: uppercase !important;*/
}

mat-list-item .active {
    background: #fff !important;
    background-size: cover;
    color: #233266 !important;
}


.customer-list-item .active {
    background: #233266 !important;
    background-size: cover;
    color: #fff !important;
}

mat-list-item {
    color: #fff !important;
}


.customer-list-item_2 .active {
    background: #fff !important;
    background-size: cover;
    color: #233266 !important;
}

.customer-list-item_2 .active .text-start {
    color: #233266 !important;
}

.customer-list-item_2 .text-start {
    color: #fff !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0px;
}

.analytic-icon {
    height: 24px !important;
    width: 24px !important;
}

.default__btn__lg {
    padding: 0.75rem !important;
    height: 50px !important;
}

.default__spacer {
    flex: 1 1 auto;
}

.custom_menu_dialog {
    background: #e9eef6;
    border: none !important;
    border-radius: 28px !important;
    box-shadow: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%) !important;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.customer_menu_modal_body {
    padding: 10px;
}

.default__drawer {
    width: 270px;
    transform: none !important;

    height: 100vh;

    border-right: 1px solid rgb(215, 224, 234);
    padding-top: 57px !important;
    position: fixed !important;
    left: 0 !important;
    /* Sets the sticky toolbar to be on top */
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    z-index: 1000;
    /* Ensure that your app's content doesn't overlap the toolbar */
}

.default__sidebar {
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    left: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
    /* Ensure that your app's content doesn't overlap the toolbar */
}

.default__toolbar {
    position: fixed;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
    /* Ensure that your app's content doesn't overlap the toolbar */
}

.default__drawer__conrainer {
    min-height: 92vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

}

.customer_bg-dark {
    background: #233266 !important;
}

.customer_bg-warning {
    background: linear-gradient(180deg,#233266,#546bbf) !important;
}

.customer_bg_default {
    background: #fff !important;
}


.default__content {
    width: auto;
    /*margin-left: 240px !important;*/
    overflow: hidden !important;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden !important;
}


::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #233266;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #233266;
}

.myicon {
    width: 48px;
    height: 48px;
    background: rgba(249, 110, 111, 0.12);
    border-radius: 50px;
}


mat-list-item .mdc-button {
    justify-content: start !important;
}
